# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env
*.env

# Virtual environments
venv/
env/

# Data files (optional, možeš prilagoditi)
*.csv
*.xlsx
*.json
*.db

# macOS system files
.DS_Store

# VS Code settings
.vscode/

